Default Home Index
<div>
  Username: {{ currentUser.username }}
  First Name: {{ currentUser.firstname }}
  Last Name: {{ currentUser.lastname }}
</div>
<div class="container">
   <div class="row">
     <div class="col-md-8">
       <div id="error"></div>
       <div id="userFormWrap">
         <h1>Create Username</h1>
         <form id="userForm">
           <input class="form-control" id="username" type="text" placeholder="Enter Username..."><br>
           <button class="btn btn-default" type="submit">Submit</button>
         </form>
       </div>
       <div id="mainWrap">
         <h1>Speak Your Mind</h1>
         <form id="chatForm">
           <div class="form-group">
             <textarea class="form-control" id="chatInput" name="body" placeholder="Say Something..."></textarea><br>
             <button class="btn btn-default" type="submit">Submit</button><br><br>
           </div>
           <div class="well" id="chatUI">
           <div class="well" id="chatWindow" style="overflow: auto; height: 100px;">
           </div>
           </div>
         </form>
       </div>
     </div>
     <div class="col-md-4">
       <h3>Chat Users</h3>
       <ul class="list-group">
         <div id="users"></div>
       </ul>
     </div>
   </div>
 </div>
