Default Home Index
<div>

  <a class="twitter-timeline"  href="https://twitter.com/search?q=train%20delays%20singapore" data-widget-id="945536399695949824" data-theme="dark" data-show-replies="true" data-chrome="nofooter, noheader" data-height="300">Tweets about train delays singapore</a>

  <script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
  if(!d.getElementById(id)){js=d.createElement(s);
  js.id=id;
  js.src=p+"://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js,fjs);}}
  (document,"script","twitter-wjs");
  </script>


</div>
<div class="container">
   <div class="row">
     <div class="col-md-8">
       <div id="error"></div>
       <div id="userFormWrap">
         <h1>Create Username</h1>
         <form id="userForm">
           <input class="form-control" id="username" type="text" placeholder="Enter Username..."><br>
           <button class="btn btn-default" type="submit">Submit</button>
         </form>
       </div>
       <div id="mainWrap">
         <h1>Speak Your Mind</h1>
         <form id="chatForm">
           <div class="form-group">
             <textarea class="form-control" id="chatInput" name="body" placeholder="Say Something..."></textarea><br>
             <button class="btn btn-default" type="submit">Submit</button><br><br>
           </div>
           <div class="well" id="chatUI">
           <div class="well" id="chatWindow" style="overflow: auto; height: 100px;">
           </div>
           </div>
         </form>
       </div>
     </div>
     <div class="col-md-4">
       <h3>Chat Users</h3>
       <ul class="list-group">
         <div id="users"></div>
       </ul>
     </div>
   </div>
 </div>
